quickstart {
    width: 100%;
    display: flex;
    justify-content: center;
}

quickstart .container {
    width: 1000px;
}

quickstart .container > h1 {
    text-align: center;
    margin-bottom: 15px;
}

quickstart .menu {
    list-style-type: circle;
}

quickstart  .menu li {
    margin-bottom: 10px;
}

quickstart .title {
    margin-bottom: 10px;
}