$width: 800px;
$s-width: 100%;

home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

home baidu-map {
    width: $width;
    height: 290px;
}

.home-desc {
    width: $width;
}

@media screen and (max-width: 800px) {
    home baidu-map,
    .home-desc {
        width: $s-width;
    }
}